#total-votes-frame {
    z-index: 100;
    background-color: #292433;
}
.percent {
    color:#000;
    border-color:#fdc640 !important;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    font-weight: 800;
}
.candidate.percent {
    width: calc(100% - 5rem);
    margin: 0 0.5rem;
}
.candidate.percent small {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 4px;
    border-radius: 5px;
    text-shadow:
        2px 2px #000,
        -2px 2px #000,
        2px -2px #000,
        -2px -2px #000
    ;
}
.candidate.percent + div {
    width: 3.2rem;
}
p-0 {
    padding: 0;
}
h-10 {
    height: 10%;
}
#polling-places-votes td.percent {
        height: 2rem;
}
#polling-places-votes table tr td:nth-of-type(1) {
    width: calc(100% - 4rem);
}
#polling-places-votes table tr td:nth-of-type(2) {
    width: 4rem;
}
.container-fluid > div:first-of-type {
    margin-top: 5.1rem;
}


#list-totals .mb-content, #candidate-totals .mb-content{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#list-totals .mb-content::-webkit-scrollbar, #candidate-totals .mb-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

@media (min-width: 1200px) {
    .container-fluid > div.row:first-of-type > div > div{
        height: calc(100vh - 6rem);
        overflow: hidden;
    }
}