#block {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

.save-changes, .menu, #top {
    background-color: #292433;
    border: #13052d solid 1px;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,.25);
}


.menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    padding: 1rem;
    padding-left: 0.5rem;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,.25);
    transition: all 0.6s ease 0s;
    z-index: 100;
    overflow-y: scroll;
}

.menu.close {
    box-shadow: none;
    transform: translateX(-100%);
}

.menu ul#comunas li {
    cursor: pointer;
    padding-bottom: 1rem;
    list-style-type: disc;
}

.menu ul#comunas li:first-of-type {
    padding-top: 1rem;
}

#content {
    width: 100vw;
    padding: 0;
}

#top, #top > div > * {
    border-color: #aaa;
    border-style: solid;
    border-width: 0px;
}

#top {
    height: 5rem;
    border-bottom-width: 1px !important;
    z-index: 10;
}

.btn-menu {
    border-right-width: 1px !important;
    font-weight: bold;
    flex: 0 0 5rem;
    text-align: center;
    cursor: default;
}

#top > div > span {
    margin: -0.5rem;
}

#title > span {
    max-width: 32%;
}

.vote-ops .btn.ops {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
    padding: 0;
    border-width: 2px !important;
    font-weight: bold;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.vote-ops button.cancel {
    margin: 0 0.5rem;
}

.vote-ops .form-control {
    width: calc(100% - 5rem - 4px);
    max-width: 5rem
}

#candidate-total-votes img {
    border-color: transparent !important;
}
.container-fluid {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important
}

.save-changes {
    z-index: 10;
}

.btn.cancel-all {
    margin-right: .5rem;
}

.save-changes {
    border-bottom: 0px none transparent;
    border-left: 0px none transparent;
    border-right: 0px none transparent;
}

#top {
    border-top: 0px none transparent;
    border-left: 0px none transparent;
    border-right: 0px none transparent;
}

.menu {
    border-top: 0px none transparent;
    border-bottom: 0px none transparent;
    border-left: 0px none transparent;
}

.menu{
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}