{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Votos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/votes.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body class="pb-5">
<div class="m-0 fixed-top" id="top">
    <div class="row h-100">
        <div class="col h2 m-0 d-table h-100 btn-menu"><span class="d-table-cell align-middle">☰</span></div>
        <div class="col h1 m-0 d-table h-100"><span id="title" class="d-table-cell align-middle"></span></div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div id="votes"></div>
</div>
<div class="menu">
    <h1 class="orange mb-5">Seleccione mesa</h1>
    <div class="p-2 mt-2 rounded">
        <ul id="comunas"></ul>
    </div>
    <div class="row" id="polling-places-votes"></div>
</div>
<div class="fixed-bottom w-100 save-changes text-right p-2 d-none">
    <button class="btn btn-danger cancel-all">Cancelar cambios</button></button>
    <button class="btn btn-primary save-changes">Guardar cambios</button>
</div>
<div id="block"></div>
<!-- Templates -->
<script type="x-template" id="template-candidates">
    <div class="row mr-1 mt-3 mb-4 ml-3" id="candidate-{slug}-votes" data-id="{id}">
        <div class="col-sm-5 col-md-4 p-0 mt-2 orange text-nowrap text-truncate"><img src="{image}" class="candidate-image rounded-circle border border-orange" />{name}</div>
        <div class="col-sm-7 col-md-8 p-0 mt-2 vote-ops">
            <!-- <button class="btn ops rounded-circle border d-inline-block text-center remove"><b class="align-middle h4">-</b></button> -->
            <input type="number" min="0"  id="candidate-{slug}-votes-input" class="vote-input form-control d-inline-block text-right" />
            <!-- <button class="btn ops rounded-circle border d-inline-block text-center add"><b class="align-middle h4">+</b></button> -->
            <button class="btn-sm btn-danger cancel d-none">Cancelar edición</button>
        </div>
    </div>
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/slugify@1.5.0/slugify.min.js"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/votes.js' %}"></script>
</body>
</html>